In [2]:
import pandas as pd

In [3]:
# pd.read_excel('tmp.xlsx', index_col=0)  
messiRonaldoStats = pd.read_excel('C:/Users/jpkee/Documents/My Tableau Repository/Datasources/MessiRonaldo.xlsx')
messiRonaldoStats.head()

,Season,Player,Liga_Goals,Liga_Asts,Liga_Aps,Liga_Mins,CL_Goals,CL_Asts,CL_Aps,CL_Mins
0,2017-18,Messi,34,12,36,2996,6,2,10,783
1,2017-18,Ronaldo,26,5,27,2297,15,3,13,1170
2,2016-17,Messi,37,9,34,2832,11,2,9,810
3,2016-17,Ronaldo,25,6,29,2544,12,5,13,1200
4,2015-16,Messi,26,16,33,2729,6,1,7,630