**Boolean Indexing**

*Master Data Analysis with Python - Intro to Pandas*
Section 4 - 
https://www.udemy.com/course/master-data-analysis-with-python-intro-to-pandas/learn/lecture/13950298#overview

In [ ]:
# subsetting on the VALUES themselves, and not the rows/columns
# HOW TO:
# 1. Create a filter - a sequence of true/false values the same length as the DataFrame/Series
# 2. Pass that filter to one of the indexers, [] or loc 


# all these queries have a logical condition, true or false
## which means every row will either be kept or discarded

# Boolean selection w iloc does not work, per the Pandas Devs


# Sample questions to answer
    # find all rides between a time period
    # find all rides that took more than 2 hours

In [1]:
# use the bikes data
import pandas as pd
bikes= pd.read_csv('C:/Users/jpkee/Desktop/PythonProjects/Master Data Analysis with Python - Intro to pandas/data/bikes.csv')

In [2]:
# let's first get the trip duration series
# w/o a specific FOR loop, this is then a vectorized operation (write one command and gitR done)
# this will give us a series
bikes['tripduration'] > 1000

0        False
1        False
2         True
3        False
4        False
         ...
50084     True
50085    False
50086    False
50087    False
50088    False
Name: tripduration, Length: 50089, dtype: bool

In [3]:
# now let's put it into a variable and call the head
filt = bikes['tripduration'] > 1000
filt.head()

0    False
1    False
2     True
3    False
4    False
Name: tripduration, dtype: bool

In [4]:
# so here you can add a Boolean series in the brackets, not just a string or list of strings
bikes[filt].head(2)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.88132,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
8,21028,Subscriber,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wood St & Division St,41.90332,-87.672730,15.0,71.1,8.0,0.0,-9999.0,cloudy

In [5]:
# now let's do it in a single line, just put the filter inside the brackets
bikes[bikes['gender'] =='Male']
# bikes[bikes['gender'] =='Male'].describe()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50083,17534831,Subscriber,Male,2017-12-30 11:36:00,2017-12-30 11:55:00,1175,Western Ave & Walton St,41.898418,-87.686596,19.0,Damen Ave & Clybourn Ave,41.931931,-87.677856,15.0,3.9,10.0,13.8,-9999.0,partlycloudy
50084,17534938,Subscriber,Male,2017-12-30 13:07:00,2017-12-30 13:34:00,1625,State St & Pearson St,41.897448,-87.628722,27.0,Clark St & Elm St,41.902973,-87.631280,27.0,5.0,10.0,16.1,-9999.0,partlycloudy
50085,17534969,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:44:00,585,Halsted St & 35th St (*),41.830661,-87.647172,16.0,Union Ave & Root St,41.819102,-87.643278,11.0,5.0,10.0,16.1,-9999.0,partlycloudy
50086,17534972,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:48:00,824,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,Halsted St & Blackhawk St (*),41.908537,-87.648627,20.0,5.0,10.0,16.1,-9999.0,partlycloudy
50088,17536246,Subscriber,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,41.967968,-87.650001,15.0,Clifton Ave & Lawrence Ave,41.968812,-87.657659,15.0,10.9,10.0,15.0,-9999.0,partlycloudy

In [6]:
# another example with just one line, instead of creating a variable
bikes[bikes['gender'] =='Female'].describe()

,trip_id,tripduration,latitude_start,longitude_start,dpcapacity_start,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation
count,1.243500e+04,12435.000000,12432.000000,12432.000000,12432.000000,12431.000000,12431.000000,12431.000000,12435.000000,12435.000000,12435.000000,12435.000000
mean,9.569901e+06,809.818175,41.902650,-87.645471,20.584138,41.902979,-87.645330,20.571635,63.986184,7.977676,7.689546,-9303.451442
std,4.850689e+06,1556.446908,0.036281,0.022406,7.357517,0.036485,0.022395,7.280021,91.686234,126.933976,155.532535,2543.920550
min,2.355800e+04,60.000000,41.744053,-87.793945,9.000000,41.744053,-87.802870,11.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
25%,5.583415e+06,409.000000,41.881582,-87.658617,15.000000,41.881750,-87.658404,15.000000,55.000000,10.000000,6.900000,-9999.000000
50%,9.935684e+06,660.000000,41.896910,-87.641711,19.000000,41.897660,-87.641823,19.000000,69.100000,10.000000,9.200000,-9999.000000
75%,1.374870e+07,1025.000000,41.925905,-87.629928,23.000000,41.926277,-87.629892,23.000000,77.000000,10.000000,12.700000,-9999.000000
max,1.753564e+07,85442.000000,42.058239,-87.560115,55.000000,42.064313,-87.559275,55.000000,96.100000,10.000000,33.400000,0.390000

In [7]:
# DataFrame Example:
bikes[bikes['events'] == 'cloudy']

# Series Example:
# bikes['events'] == 'cloudy'

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
6,18880,Subscriber,Male,2013-07-02 17:47:00,2013-07-02 17:56:00,565,Clark St & Randolph St,41.884576,-87.631890,31.0,Ravenswood Ave & Irving Park Rd,41.954690,-87.673930,19.0,66.0,10.0,15.0,-9999.0,cloudy
7,19689,Subscriber,Male,2013-07-03 09:07:00,2013-07-03 09:16:00,505,State St & Van Buren St,41.877181,-87.627844,27.0,Franklin St & Jackson Blvd,41.877708,-87.635321,27.0,64.0,7.0,5.8,-9999.0,cloudy
8,21028,Subscriber,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wood St & Division St,41.903320,-87.672730,15.0,71.1,8.0,0.0,-9999.0,cloudy
18,40924,Subscriber,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,41.878114,-87.639971,35.0,Millennium Park,41.881032,-87.624084,35.0,79.0,10.0,13.8,0.0,cloudy
19,40879,Subscriber,Male,2013-07-09 13:14:00,2013-07-09 13:20:00,384,Aberdeen St & Madison St,41.881487,-87.654752,19.0,Canal St & Jackson Blvd,41.878114,-87.639971,35.0,79.0,10.0,13.8,0.0,cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50072,17531067,Subscriber,Male,2017-12-28 06:16:00,2017-12-28 06:22:00,392,State St & Randolph St,41.884730,-87.627734,27.0,McClurg Ct & Illinois St,41.890359,-87.617532,31.0,5.0,10.0,0.0,-9999.0,cloudy
50073,17531700,Subscriber,Male,2017-12-28 10:27:00,2017-12-28 10:34:00,401,Sheffield Ave & Willow St,41.913688,-87.652855,15.0,Clybourn Ave & Division St,41.904613,-87.640552,15.0,12.9,10.0,10.4,-9999.0,cloudy
50076,17533419,Subscriber,Male,2017-12-29 08:42:00,2017-12-29 08:48:00,356,Blackstone Ave & Hyde Park Blvd,41.802562,-87.590368,19.0,Lake Park Ave & 56th St,41.793242,-87.587782,19.0,10.9,8.0,4.6,-9999.0,cloudy
50077,17533484,Subscriber,Male,2017-12-29 09:13:00,2017-12-29 09:53:00,2378,Clinton St & 18th St,41.857950,-87.640826,15.0,Canal St & Taylor St,41.870257,-87.639474,15.0,12.9,9.0,4.6,-9999.0,cloudy
50078,17533656,Subscriber,Female,2017-12-29 11:14:00,2017-12-29 11:28:00,877,Southport Ave & Waveland Ave,41.948150,-87.663940,23.0,Clarendon Ave & Gordon Ter,41.957879,-87.649519,15.0,14.0,10.0,5.8,-9999.0,cloudy

In [8]:
# or again, use a variable
cloudFilt = bikes['events'] == 'cloudy'
bikes[cloudFilt].head()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
6,18880,Subscriber,Male,2013-07-02 17:47:00,2013-07-02 17:56:00,565,Clark St & Randolph St,41.884576,-87.631890,31.0,Ravenswood Ave & Irving Park Rd,41.954690,-87.673930,19.0,66.0,10.0,15.0,-9999.0,cloudy
7,19689,Subscriber,Male,2013-07-03 09:07:00,2013-07-03 09:16:00,505,State St & Van Buren St,41.877181,-87.627844,27.0,Franklin St & Jackson Blvd,41.877708,-87.635321,27.0,64.0,7.0,5.8,-9999.0,cloudy
8,21028,Subscriber,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wood St & Division St,41.903320,-87.672730,15.0,71.1,8.0,0.0,-9999.0,cloudy
18,40924,Subscriber,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,41.878114,-87.639971,35.0,Millennium Park,41.881032,-87.624084,35.0,79.0,10.0,13.8,0.0,cloudy
19,40879,Subscriber,Male,2013-07-09 13:14:00,2013-07-09 13:20:00,384,Aberdeen St & Madison St,41.881487,-87.654752,19.0,Canal St & Jackson Blvd,41.878114,-87.639971,35.0,79.0,10.0,13.8,0.0,cloudy

In [9]:
# find all the male riders

In [10]:
bikes.head(2)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.88105,-87.61697,11.0,Michigan Ave & Oak St,41.90096,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.88338,-87.64117,31.0,Wells St & Walton St,41.89993,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy

**Boolean Indexing on multiple conditions**

https://www.udemy.com/course/master-data-analysis-with-python-intro-to-pandas/learn/lecture/13959356#overview

In [11]:
# create complex filters with the AND &, OR |, NOT ~ operators
# best practice to assign each filter as it's own variable
# use the 'isin' method to test for multiple equalities in the same column

bikes.head(3)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.90096,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.89993,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.88132,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy

In [12]:
# so let's get all rides where it was cloudy and duration was greater than 1000 seconds
weatherFilt = bikes['events'] == 'cloudy'

In [13]:
durationFilt = bikes['tripduration'] < 100

In [14]:
bikes[durationFilt & weatherFilt].head()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
1885,1075586,Subscriber,Male,2013-12-13 16:23:00,2013-12-13 16:24:00,97,State St & Randolph St,41.884730,-87.627734,27.0,State St & Randolph St,41.884730,-87.627734,27.0,30.0,10.0,9.2,-9999.0,cloudy
2379,1279031,Subscriber,Male,2014-03-21 18:04:00,2014-03-21 18:06:00,95,Leavitt St & North Ave,41.910153,-87.682290,15.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,57.0,10.0,16.1,-9999.0,cloudy
3629,1835879,Subscriber,Female,2014-05-27 07:55:00,2014-05-27 07:56:00,70,Clark St & Schiller St,41.907993,-87.631501,19.0,Clark St & Schiller St,41.907993,-87.631501,19.0,73.0,10.0,9.2,-9999.0,cloudy
3885,1954314,Subscriber,Male,2014-06-04 13:35:00,2014-06-04 13:36:00,84,May St & Taylor St,41.869482,-87.655486,15.0,May St & Taylor St,41.869482,-87.655486,15.0,61.0,10.0,13.8,-9999.0,cloudy
4440,2177880,Subscriber,Male,2014-06-19 17:36:00,2014-06-19 17:38:00,90,Morgan St & Lake St,41.885483,-87.652305,15.0,May St & Randolph St,41.883970,-87.655688,15.0,73.4,10.0,13.8,-9999.0,cloudy

In [15]:
bigFilt = durationFilt & weatherFilt

In [16]:
len(bigFilt)

50089

In [18]:
# hrrm, missing something here, i'm getting back all the rows...
len(weatherFilt)

50089

In [46]:
# you can also filter on multiple conditions in one line, just use parens
newFilt = (bikes['tripduration'] > 1000) & (bikes['events'] =='cloudy')

In [47]:
bikes[newFilt].head(2)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
8,21028,Subscriber,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wood St & Division St,41.903320,-87.672730,15.0,71.1,8.0,0.0,-9999.0,cloudy
18,40924,Subscriber,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,41.878114,-87.639971,35.0,Millennium Park,41.881032,-87.624084,35.0,79.0,10.0,13.8,0.0,cloudy

OR operator |

In [64]:
# OR operator
newFiltOR = (bikes['gender'] == 'female') | (bikes['tripduration'] < 100)

In [65]:
bikes[newFiltOR].head(111)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
28,51823,Subscriber,Male,2013-07-12 10:01:00,2013-07-12 10:02:00,88,Daley Center Plaza,41.884337,-87.630183,47.0,Daley Center Plaza,41.884337,-87.630183,47.0,77.0,10.0,4.6,-9999.00,partlycloudy
97,100400,Subscriber,Male,2013-07-24 10:36:00,2013-07-24 10:38:00,68,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,68.0,10.0,10.4,-9999.00,partlycloudy
751,563370,Subscriber,Male,2013-09-22 19:01:00,2013-09-22 19:02:00,93,Wabash Ave & Grand Ave,41.891738,-87.626937,15.0,State St & Kinzie St,41.889180,-87.627700,15.0,57.9,10.0,5.8,-9999.00,partlycloudy
752,563671,Subscriber,Male,2013-09-22 19:36:00,2013-09-22 19:38:00,80,Greenview Ave & Fullerton Ave,41.925330,-87.665800,15.0,Greenview Ave & Fullerton Ave,41.925330,-87.665800,15.0,57.9,10.0,5.8,-9999.00,partlycloudy
836,597252,Subscriber,Male,2013-09-26 17:01:00,2013-09-26 17:03:00,92,Wells St & 19th St,41.856802,-87.633879,11.0,Wells St & 19th St,41.856802,-87.633879,11.0,70.0,10.0,6.9,-9999.00,clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21532,8541241,Subscriber,Male,2015-12-29 19:44:00,2015-12-29 19:46:00,98,Wells St & Concord Pl,41.912202,-87.634664,19.0,Sedgwick St & North Ave,41.910579,-87.638618,19.0,30.0,10.0,8.1,-9999.00,cloudy
21767,8609289,Subscriber,Male,2016-01-16 14:06:00,2016-01-16 14:07:00,76,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Canal St & Madison St,41.882091,-87.639833,27.0,27.0,10.0,10.4,-9999.00,partlycloudy
22149,8722007,Subscriber,Male,2016-02-08 21:12:00,2016-02-08 21:13:00,80,Wolcott Ave & Polk St,41.871262,-87.673688,15.0,Hermitage Ave & Polk St,41.871514,-87.669886,15.0,24.1,2.5,15.0,0.01,snow
22612,8870562,Subscriber,Male,2016-03-07 08:36:00,2016-03-07 08:37:00,74,Clark St & Lincoln Ave,41.915689,-87.634600,23.0,Clark St & Lincoln Ave,41.915689,-87.634600,23.0,53.1,10.0,15.0,-9999.00,mostlycloudy
22704,8894481,Subscriber,Male,2016-03-09 10:37:00,2016-03-09 10:39:00,75,Lakeview Ave & Fullerton Pkwy,41.925858,-87.638973,19.0,Lakeview Ave & Fullerton Pkwy,41.925858,-87.638973,19.0,61.0,10.0,16.1,-9999.00,cloudy

NOT operator ~, aka inverion operator

In [68]:
notFilt1 = bikes['tripduration']> 1000
# Put the tilde here!
# but redundant here, just to see it working
bikes[~notFilt1]

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy
5,13595,Subscriber,Male,2013-07-01 12:37:00,2013-07-01 12:48:00,660,California Ave & 21st St,41.854016,-87.695445,15.0,Clark St & Wrightwood Ave,41.929546,-87.643118,15.0,73.0,10.0,17.3,-9999.0,mostlycloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50082,17534773,Subscriber,Male,2017-12-30 10:47:00,2017-12-30 10:53:00,363,Larrabee St & Oak St,41.900219,-87.642985,19.0,Halsted St & Blackhawk St (*),41.908537,-87.648627,20.0,3.9,10.0,13.8,-9999.0,mostlycloudy
50085,17534969,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:44:00,585,Halsted St & 35th St (*),41.830661,-87.647172,16.0,Union Ave & Root St,41.819102,-87.643278,11.0,5.0,10.0,16.1,-9999.0,partlycloudy
50086,17534972,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:48:00,824,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,Halsted St & Blackhawk St (*),41.908537,-87.648627,20.0,5.0,10.0,16.1,-9999.0,partlycloudy
50087,17535645,Subscriber,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,41.885637,-87.641823,23.0,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,7.0,10.0,11.5,-9999.0,partlycloudy
50088,17536246,Subscriber,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,41.967968,-87.650001,15.0,Clifton Ave & Lawrence Ave,41.968812,-87.657659,15.0,10.9,10.0,15.0,-9999.0,partlycloudy

ISIN - test multiple conditions

In [77]:
specialEvents = ['rain', 'snow', 'sleet']
filt = bikes['events'].isin(specialEvents)

In [78]:
bikes[filt]

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
45,66336,Subscriber,Male,2013-07-15 16:43:00,2013-07-15 16:55:00,727,Greenwood Ave & 47th St,41.809835,-87.599383,15.0,State St & Harrison St,41.873958,-87.627739,19.0,82.9,10.0,5.8,0.00,rain
112,111568,Subscriber,Male,2013-07-26 19:10:00,2013-07-26 19:33:00,1395,Larrabee St & Kingsbury St,41.897764,-87.642884,27.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,66.9,8.0,12.7,0.00,rain
124,130156,Subscriber,Male,2013-07-30 18:53:00,2013-07-30 19:00:00,442,Canal St & Jackson Blvd,41.878114,-87.639971,35.0,Racine Ave & Congress Pkwy,41.874640,-87.657030,19.0,69.1,10.0,3.5,0.00,rain
161,164536,Subscriber,Male,2013-08-05 17:09:00,2013-08-05 17:23:00,890,Clark St & Randolph St,41.884576,-87.631890,31.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,68.0,10.0,8.1,0.05,rain
498,437985,Subscriber,Female,2013-09-07 16:09:00,2013-09-07 16:26:00,978,Damen Ave & Melrose Ave,41.940600,-87.678500,11.0,Leavitt St & North Ave,41.910652,-87.682400,11.0,81.0,10.0,6.9,0.00,rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50074,17532063,Subscriber,Male,2017-12-28 13:08:00,2017-12-28 13:13:00,258,Ashland Ave & Chicago Ave,41.895966,-87.667747,15.0,Ashland Ave & Division St,41.903450,-87.667747,19.0,12.9,6.0,9.2,0.00,snow
50075,17532624,Subscriber,Male,2017-12-28 17:03:00,2017-12-28 17:07:00,226,Wabash Ave & Wacker Pl,41.886875,-87.626030,19.0,State St & Randolph St,41.884730,-87.627734,27.0,12.0,2.0,8.1,0.01,snow
50079,17533757,Subscriber,Male,2017-12-29 12:08:00,2017-12-29 12:12:00,270,Southport Ave & Belmont Ave,41.939490,-87.663780,15.0,Wilton Ave & Belmont Ave,41.940180,-87.653040,23.0,14.0,2.5,6.9,0.00,snow
50080,17534057,Subscriber,Male,2017-12-29 15:28:00,2017-12-29 15:51:00,1378,Cityfront Plaza Dr & Pioneer Ct,41.890573,-87.622072,23.0,Mies van der Rohe Way & Chestnut St,41.898587,-87.621915,19.0,14.0,1.5,6.9,0.01,snow
50081,17534131,Subscriber,Male,2017-12-29 16:09:00,2017-12-29 16:19:00,617,Kingsbury St & Erie St,41.893882,-87.641711,23.0,Canal St & Adams St,41.879255,-87.639904,47.0,14.0,1.5,6.9,0.00,snow

**Boolean Selection on a Series**
* Using 'between' as opposed to an 'and'
* Using 'isna' method for rows with missing values
* maybe not used as much
* usually you'll do loc or iloc when selecting on a series, but Boolean selection is ok

In [79]:
# Select the temp column
temp =  bikes['temperature']
temp.head()

0    73.9
1    69.1
2    73.0
3    72.0
4    73.0
Name: temperature, dtype: float64

In [80]:
# Select temps > 90 from a series

filt = temp > 90
filt

0        False
1        False
2        False
3        False
4        False
         ...
50084    False
50085    False
50086    False
50087    False
50088    False
Name: temperature, Length: 50089, dtype: bool

In [81]:
# Remember you can set your index to whatever, like 'index_col = 'starttime', so make things more useful when needed

**Between Method**

In [86]:
# temp.head()
filt = temp.between (50, 60)
filt

0        False
1        False
2        False
3        False
4        False
         ...
50084    False
50085    False
50086    False
50087    False
50088    False
Name: temperature, Length: 50089, dtype: bool

In [88]:
#Simultaneous Boolean selection for row and column labels with loc
filt = temp.between(50, 60)
cols = ['temperature', 'events']
bikes.loc[filt, cols]

     temperature        events
590         54.0  partlycloudy
591         57.9  partlycloudy
592         57.9  partlycloudy
593         57.9  partlycloudy
594         57.9  partlycloudy

In [92]:
# Column to Column Comparisons
bikes['dpcapacity_start'] > bikes['dpcapacity_end']

0        False
1         True
2        False
3        False
4        False
         ...
50084    False
50085     True
50086     True
50087    False
50088    False
Length: 50089, dtype: bool

In [95]:
# Finding missing values w isna
bikes['dpcapacity_start'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
50084    False
50085    False
50086    False
50087    False
50088    False
Name: dpcapacity_start, Length: 50089, dtype: bool

In [96]:
# then again as a filter
filterIsna = bikes['dpcapacity_start'].isna()
bikes[filterIsna]

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
17566,7319012,Subscriber,Male,2015-09-06 07:52:00,2015-09-06 07:55:00,207,Clark St & 9th St (AMLI),NaN,NaN,NaN,Federal St & Polk St,41.872078,-87.629544,19.0,75.0,10.0,4.6,-9999.0,mostlycloudy
17605,7341764,Subscriber,Female,2015-09-07 09:52:00,2015-09-07 09:57:00,293,Clark St & 9th St (AMLI),NaN,NaN,NaN,Wabash Ave & 8th St,41.871962,-87.626106,19.0,81.0,10.0,8.1,-9999.0,mostlycloudy
17990,7468970,Subscriber,Male,2015-09-15 08:25:00,2015-09-15 08:33:00,473,Clark St & 9th St (AMLI),NaN,NaN,NaN,Franklin St & Monroe St,41.881469,-87.635177,27.0,68.0,10.0,9.2,-9999.0,mostlycloudy
18922,7780399,Subscriber,Female,2015-10-03 21:43:00,2015-10-03 22:04:00,1268,Clark St & 9th St (AMLI),NaN,NaN,NaN,Ritchie Ct & Banks St,41.906782,-87.626402,15.0,50.0,10.0,15.0,-9999.0,cloudy
20377,8207553,Subscriber,Female,2015-11-06 08:53:00,2015-11-06 09:08:00,868,Clark St & 9th St (AMLI),NaN,NaN,NaN,Fairbanks Ct & Grand Ave,41.891860,-87.620620,15.0,48.0,10.0,18.4,-9999.0,mostlycloudy
20766,8317161,Subscriber,Male,2015-11-18 08:55:00,2015-11-18 09:01:00,359,Clark St & 9th St (AMLI),NaN,NaN,NaN,Dearborn St & Adams St,41.879356,-87.629791,19.0,60.1,8.0,25.3,0.0,rain

In [ ]:
# # Summary
    # ok to use brackets with a Series
    # use Loc for simultaneous boolean selection and column selection
    # between is a shortcut for And

**Query Method**

In [105]:
bikes.query('tripduration > 1000').head()
# simpler than the below...

# bikes[bikes['tripduration'] < 1000]

# doesn't work on columns with spaces!!

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
8,21028,Subscriber,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wood St & Division St,41.903320,-87.672730,15.0,71.1,8.0,0.0,-9999.0,cloudy
10,24383,Subscriber,Male,2013-07-04 17:17:00,2013-07-04 17:42:00,1523,Morgan St & 18th St,41.858086,-87.651073,15.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,79.0,10.0,9.2,-9999.0,mostlycloudy
11,24673,Subscriber,Male,2013-07-04 18:13:00,2013-07-04 18:42:00,1697,Ashland Ave & Armitage Ave,41.917859,-87.668919,15.0,Lincoln Ave & Armitage Ave,41.918273,-87.638116,19.0,79.0,10.0,10.4,-9999.0,mostlycloudy
12,26214,Subscriber,Male,2013-07-05 10:02:00,2013-07-05 10:40:00,2263,Jefferson St & Monroe St,41.880422,-87.642746,19.0,Jefferson St & Monroe St,41.880422,-87.642746,19.0,79.0,10.0,0.0,-9999.0,partlycloudy

In [114]:
# and with Booleans! here you can use the word
# bikes.query('tripduration > 1000 and temperature >90')

# another example with the Not
bikes.query('not(tripduration > 1000 and temperature >90)')

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50084,17534938,Subscriber,Male,2017-12-30 13:07:00,2017-12-30 13:34:00,1625,State St & Pearson St,41.897448,-87.628722,27.0,Clark St & Elm St,41.902973,-87.631280,27.0,5.0,10.0,16.1,-9999.0,partlycloudy
50085,17534969,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:44:00,585,Halsted St & 35th St (*),41.830661,-87.647172,16.0,Union Ave & Root St,41.819102,-87.643278,11.0,5.0,10.0,16.1,-9999.0,partlycloudy
50086,17534972,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:48:00,824,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,Halsted St & Blackhawk St (*),41.908537,-87.648627,20.0,5.0,10.0,16.1,-9999.0,partlycloudy
50087,17535645,Subscriber,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,41.885637,-87.641823,23.0,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,7.0,10.0,11.5,-9999.0,partlycloudy
50088,17536246,Subscriber,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,41.967968,-87.650001,15.0,Clifton Ave & Lawrence Ave,41.968812,-87.657659,15.0,10.9,10.0,15.0,-9999.0,partlycloudy

In [116]:
# @ symbol used w query
td = 1000
bikes.query('tripduration > @td')

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.00,mostlycloudy
8,21028,Subscriber,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wood St & Division St,41.903320,-87.672730,15.0,71.1,8.0,0.0,-9999.00,cloudy
10,24383,Subscriber,Male,2013-07-04 17:17:00,2013-07-04 17:42:00,1523,Morgan St & 18th St,41.858086,-87.651073,15.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,79.0,10.0,9.2,-9999.00,mostlycloudy
11,24673,Subscriber,Male,2013-07-04 18:13:00,2013-07-04 18:42:00,1697,Ashland Ave & Armitage Ave,41.917859,-87.668919,15.0,Lincoln Ave & Armitage Ave,41.918273,-87.638116,19.0,79.0,10.0,10.4,-9999.00,mostlycloudy
12,26214,Subscriber,Male,2013-07-05 10:02:00,2013-07-05 10:40:00,2263,Jefferson St & Monroe St,41.880422,-87.642746,19.0,Jefferson St & Monroe St,41.880422,-87.642746,19.0,79.0,10.0,0.0,-9999.00,partlycloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50058,17525403,Subscriber,Female,2017-12-23 13:48:00,2017-12-23 14:14:00,1559,Michigan Ave & Madison St,41.882134,-87.625125,19.0,Shedd Aquarium,41.867226,-87.615355,55.0,28.0,10.0,8.1,-9999.00,mostlycloudy
50077,17533484,Subscriber,Male,2017-12-29 09:13:00,2017-12-29 09:53:00,2378,Clinton St & 18th St,41.857950,-87.640826,15.0,Canal St & Taylor St,41.870257,-87.639474,15.0,12.9,9.0,4.6,-9999.00,cloudy
50080,17534057,Subscriber,Male,2017-12-29 15:28:00,2017-12-29 15:51:00,1378,Cityfront Plaza Dr & Pioneer Ct,41.890573,-87.622072,23.0,Mies van der Rohe Way & Chestnut St,41.898587,-87.621915,19.0,14.0,1.5,6.9,0.01,snow
50083,17534831,Subscriber,Male,2017-12-30 11:36:00,2017-12-30 11:55:00,1175,Western Ave & Walton St,41.898418,-87.686596,19.0,Damen Ave & Clybourn Ave,41.931931,-87.677856,15.0,3.9,10.0,13.8,-9999.00,partlycloudy
50084,17534938,Subscriber,Male,2017-12-30 13:07:00,2017-12-30 13:34:00,1625,State St & Pearson St,41.897448,-87.628722,27.0,Clark St & Elm St,41.902973,-87.631280,27.0,5.0,10.0,16.1,-9999.00,partlycloudy

In [ ]:
# %timeit, learn more about that